{% extends 'pages/base.html' %}

{% block title %}Data{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h1>Input Data</h1>
            </div>
            <div class="card-body">
                <form action="/save" method="get">
                    <div class="form-group">
                        <select class="custom-select custom-select-lg mb-3" name="select" disabled>
                            <option selected>Select class</option>
                            <option value="good">Good</option>
                            <option value="bad">Bad</option>
                            <option value="normal">Normal</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Input data" name="input" disabled>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" disabled>
                        <a class="btn btn-success"  href="/">Home</a>
                    </div>
                    <div class="form-group">
                        <p>Good: {{ good }}</p>
                        <p>Bad: {{ bad }}</p>
                        <p>Normal: {{ normal }}</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}