{% extends 'pages/base.html' %}

{% block title %}Predict{% endblock %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="card">
        <div class="card-header">
            <h1>Predict Review</h1>
        </div>
        <div class="card-body">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Input review" name="inputPredict" id="inputPredict">
            </div>
            <div class="form-group">

                <button type="submit" class="loader" id="loader" hidden></button>
                <input type="submit" class="btn btn-primary" id="predict">

                <a class="btn btn-success" href="/">Home</a>
            </div>
            <div class="form-group">
                <h5>Chỉ dự đoạn đánh giá trong lĩnh vực công nghệ (Điện thoại, laptop, TV,...)</h5>
                <h5>Kết quả đầu ra không đúng 100%. (Tỷ lệ chính xác 7x% đến 8x%)</h5>
            </div>
        </div>
        <div class="card-footer">
            <input type="button" class="btn btn-dark mr-3" value="Save Good" id="saveGood" disabled>
            <input type="button" class="btn btn-secondary mr-3" value="Save Bad" id="saveBad" disabled>
            <input type="button" class="btn btn-group" value="Save Normal" id="saveNormal" disabled>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h4>Good</h4>
                </div>
                <div class="card-body" id="good">

                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header" >
                    <h4>Bad</h4>
                </div>
                <div class="card-body" id="bad">
                    <!--<div class="form-group">-->
                        <!--<label><input type="checkbox" class="mr-3"></label>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h4>Normal</h4>
                </div>
                <div class="card-body"  id="normal">

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}